.container {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 800px;
    height: 350px;
    background-color: blanchedalmond;
    
}

.box {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    background-color: deeppink;
}